
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

body {
  background-color: #22262d;
  text-align: center;
  min-height: 100vh;
  color: aqua;
  font-family: 'Grand Hotel', cursive;
}
.getbtn{
  position: fixed;
  bottom: 4px;
  right: 4px;
  font-weight: bolder;
}
.flx {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.h400 {
  height: 400px;
}
.h500 {
  height: 500px;
}
.h600 {
  height: 600px;
}
.h700 {
  height: 700px;
}
.h800 {
  height: 800px;
}
.demoScroll {
  height: 300px;
  overflow-y: auto;
  width: 50px;
}
code,ul {
  text-align: left;
}