/* Scroll 1 */
.ssb1::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.ssb1::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.ssb1::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}